<p-progressSpinner *ngIf="processingImage"></p-progressSpinner>
<p-fileUpload
  [files]="files"
  accept="image/*"
  [customUpload]="true"
  [auto]="true"
  [showUploadButton]="false"
  [showCancelButton]="false"
  mode="basic"
  (uploadHandler)="processImage($event)"
></p-fileUpload>

<div *ngIf="srcImageData">
  <p>Input Image:</p>
  <img [src]="srcImageData" />
</div>

<div *ngIf="croppedImageData">
  <p>Cropped Image:</p>
  <img [src]="croppedImageData" />
</div>

<div *ngIf="text">
  <p>Raw: {{ text }}</p>
</div>

<div *ngIf="xp">
  <p>XP: {{ xp }}</p>
</div>

<div *ngIf="startDate">
  <p>Start Date: {{ startDate }}</p>
</div>
